<h1>Editing quip</h1>

<% form_for(@quip) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :author_id %><br />
    <%= f.select :author_id, Author.find(:all).map { |author| [author.name, author.id] } %>
    <%= link_to 'Add a New Author', :controller => 'authors', :action => 'new' %>
  </p>
  <p>
    <%= f.label :tags %><br />
    <%= f.text_area :tag_list %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @quip %> |
<%= link_to 'Back', quips_path %>
