<h1>Listing quips</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Author</th>
    <th>Tags</th>
  </tr>

<% for quip in @quips %>
  <tr>
    <td><%=h quip.body %></td>
    <td><%=h quip.author.name %></td>
    <td><%=h quip.tag_list %></td>
    <td><%= link_to 'Show', quip %></td>
    <td><%= link_to 'Edit', edit_quip_path(quip) %></td>
    <td><%= link_to 'Destroy', quip, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% if @tags %>
  <ul>
  <% for tag in @tags %>
    <li>
      <strong><%= tag.name %></strong> (<%= tag.count %>)
    </li>
  <% end %>
  </ul>
<% end %>
<br />

<%= link_to 'New quip', new_quip_path %>
