<p>
  <b>Body:</b>
  <%=h @quip.body %>
</p>

<p>
  <b>Author:</b>
  <%=h @quip.author.name %>
</p>

<p>
  <b>Tags:</b>
  <%=h @quip.tag_list %>
</p>


<%= link_to 'Edit', edit_quip_path(@quip) %> |
<%= link_to 'Back', quips_path %>
